package navigation;

type Link struct {
	href  string
	label string
}

var links = []Link{{href: "/", label: "Home"}, {href: "/login", label: "Log in"}, {href: "/signin", label: "Sign in"}}

templ Bar() {
	<nav>
		<ul class="flex gap-4 justify-end p-4 text-lg">
			for _, link := range links {
				<li>
					<a href={ templ.URL(link.href) }>
						{ link.label }
					</a>
				</li>
			}
		</ul>
	</nav>
}
