package home;

import "github.com/naqet/url-shortener/views/layout"
import "github.com/naqet/url-shortener/views/navigation"

templ Index() {
	@layout.Base() {
		@navigation.Bar()
		<main class="grid place-items-center px-4">
            <h1>Welcome to the url shortener</h1>
            <a href="/dashboard">Go to the dashboard</a>
		</main>
	}
}
