package home;

import "github.com/naqet/url-shortener/views/layout"

templ Index(isLogged bool) {
	@layout.Base(isLogged) {
		<main class="grid place-items-center px-4">
            <h1>Welcome to the url shortener</h1>
            <a href="/dashboard" class="border border-white p-1 rounded">Go to the dashboard</a>
		</main>
	}
}
